@model List<RecipeModel>
@{
    ViewData["Title"] = "Home Page";
}


<h3 class="text-light">Recipes</h3>

<ul class="grid">
    @foreach (var recipe in Model)
    {
    <li>
        <div class="card bg-secondary">
            <div class="card-body">
                <h5 class="card-title">@recipe.Name</h5>
                <pre class="card-text">Prep Time: @recipe.PrepTime min</pre>
                <pre class="card-text">Cook Time: @recipe.CookTime min</pre>
                <a asp-controller="Recipes" asp-action="GetRecipe" asp-route-id="@recipe.RecipeID" method="get" class="btn btn-success" style="width:150px">View Recipe</a>
            </div>
        </div>
    </li>
    }
</ul>