@model ReviewModel
@{
    ViewData["Title"] = "Create Review for Recipe with ID " + Model.RecipeID;
}
<h1 class="text-light">@ViewData["Title"]</h1>

<form asp-controller="Reviews" asp-action="CreateReviewSubmit" class="" method="post">
    <div class="border border-secondary text-light p-3 mt-4">
        <div class="mb-3">
            <label asp-for="ReviewText"></label>
            <textarea asp-for="ReviewText" class="form-control text-light bg-secondary border-secondary"></textarea>
            <span asp-validation-for="ReviewText" class="text-danger"></span>
        </div>
        <input asp-for="UserEmail" type="hidden" value="@Context.Session.GetString("UserEmail")">
        <button type="submit" class="btn btn-success" style="width:150px">Create</button>
        <a asp-controller="Recipes" asp-action="GetRecipe" asp-route-id="@Model.RecipeID" class="btn btn-secondary" style="width:150px">
            Cancel
        </a>
    </div>
</form> 